@import url('https://fonts.googleapis.com/css?family=roboto:100,200,300,400,500,800,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
/*
div{
    border: 1px solid black;
}
*/





.logo{
    position: absolute;
    padding: 10px;
}


.menu{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    overflow: hidden;
    
}

.menu ul{
    list-style-type: none;
}

.menu li{
    float: left;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    margin-left: 30px;
    letter-spacing: 2px;
    font-family: sans-serif;
    cursor: progress;
}


.banner img {
    
    background-size: cover;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.container{
    margin-top: 50px;
    padding: 10px;
    color: #356865;
}

.txtcont{
    overflow: hidden;
    padding: 5px;
  text-align: left;
}

#h3w{
    font-weight: 200;
}

.txtcont h3{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;

}

.txtcont p{
   
    letter-spacing: 1px;
}

.imgRigth{
    float: right;
    padding-left: 50px;
    width: 40%;
   
}

.imgLeft{
    float: left;
    width: 40%;
    padding-right: 50px;
   
}

.imgLeftP3{
    float: left;
    width: 60%;
    padding-right: 50px;
   
}

.doble{
display: flex;
justify-content: space-around;
margin-top: 50px;
margin-bottom: 50px;

}

.txtcontDoble{
    padding: 5px;
    margin-top: 30px;
    overflow: hidden;
    width: 30%;
    color: #356865;
    
}

.desc {
    padding-top: 30px;
    margin-top: -20px;
    background:#f3f0eb;
    text-align: justify;
    height: 100%;
}
.desc h4{
    text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
 
  
}



.txtcontDoble img
{
    width: 100%;
}

.txtcontent{
    text-align: justify;

    }

.txtcontent img{
width: 100%;
}

#pl{
 text-align: left;
}

.footer{
background: #356865;
width: 100%;
height: 100%;
display: flex;
justify-content: space-around;
}

.footer p{
    text-align: right;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.copy strong{
    font-weight: 200;
}

.copy{
    color: #fff;
}